* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
  width: 80%;
  margin: auto;
}

/* navBar*/
nav {
  background-color: #333333;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  padding: 1vh;
  margin-left: 15vw;
  vertical-align: bottom;
}

nav li {
  display: inline-block;
}

nav li:nth-child(1) {
  align-self: flex-end;
  font-size: 12em;
  margin-left: auto;
}

nav a {
  display: block;
  padding: 6em 12em;
  text-decoration: none;
}

/* header*/
header section {
  display: flex;
  flex-flow: row wrap;
}

header section .imgimg {
  content: '';
  background-image: url("https://zupimages.net/up/20/24/cv6k.png");
  background-repeat: no-repeat;
  width: 308px;
  height: 89px;
  background-size: cover;
  margin-left: 10%;
}

header section h1 {
  background-color: #eb9510;
  border-radius: 5px;
  border: white solid 1vw;
  width: 50vw;
  text-align: center;
  padding: 1vh;
  color: rgb 255, 255, 255;
  margin-left: 15%;
  margin-top: 15px;
  font-size: 20px;
}

header section .buton {
  background-color: #eb9510;
  border-radius: 5px;
  border: white solid 1px;
  width: 50%;
  text-align: center;
  padding: 15px;
  color: rgb 255, 255, 255;
  margin-left: 15%;
  margin-top: 15px;
  font-size: 20px;
}

/* Corps du site*/
main {
  margin: auto;
}

main section {
  margin-bottom: 0;
}

main section h2 {
  text-align: center;
  background-color: white;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 15px;
}

main section article h3 {
  font-weight: 300;
  margin-bottom: 5px;
}

main section article h3 .boite1 {
  background-color: #1e93cc;
  display: flex;
  flex-flow: row wrap;
  color: rgb 255, 255, 255;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 15%;
}

main section article h3 .boite1 .col {
  margin-left: 3%;
}

main section article h3 .boite1 .col p {
  text-align: justify;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}

main .content3 {
  background-color: #eee;
}

main .content3 h2 {
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
  color: #8b8b88;
  margin-top: -10%;
}

main .content3 ul {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

main .content3 li {
  list-style-type: none;
  margin-left: 2%;
}

main .content3 li:nth-last-child(1) {
  margin-left: auto;
  margin-right: auto;
}

main .content4 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 7%;
}

main .content4 button {
  width: 25%;
  padding: 10px;
  background: #165882;
  border-radius: 5px;
  margin-right: 5%;
  color: rgb 255, 255, 255;
  font-size: 20px;
  border: none;
  padding: 2%;
}

main .content4 button:nth-last-child(1) {
  background-color: #e99002;
}

/* pied de page*/
footer {
  background-color: #222222;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: flex;
  color: rgb 255, 255, 255;
  padding-bottom: 15px;
}

footer a {
  font-size: 12em;
}

footer ul {
  color: white;
  display: flex;
  text-align: center;
}

footer li {
  list-style-type: none;
  margin: 0;
  border-right: 1px dotted white;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

footer li:nth-last-child(2) {
  border: 0;
}

footer li:nth-last-child(1) {
  align-self: flex-end;
  border: 0;
  font-size: 12em;
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */